@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.HPTitle{

    color:white;
    display: inline-flex;
    font-size:70px;
    padding:20px;
    margin-bottom:100px;
    font-family: 'Metal Mania', cursive;
} 

.text{
    display:inline-flex;
    color:white;
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
}

.HeroContainer{
    width: 100%;
    height: 500px;
    /* background-color: red; */
    background-image: url("../../assets/7011backdropscale1280xauto.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

}


