@media screen and (min-width:575px) {

    .Herocontainer{
        display: flex;
        text-align:center;
        padding:40px;
        justify-content: center;
        
        }
        
        .herotext{
            display:inline-flex;
            color:white;
            font-size: 15px;
            font-family: serif;
            text-shadow: #C08E5A 1px 0 20px;
}
}
@media screen and (min-width:1024px) {

.Herocontainer{
display: flex;
text-align:center;
padding:40px;
justify-content: center;

}

.herotext{
    display:inline-flex;
    color:white;
    font-size: 20px;
    font-family: serif;
    text-shadow: #C08E5A 1px 0 20px;
}
}