@media screen and (min-width:555px) {

  .footercontainer{
    display:flex;
    justify-content:center;
    text-align:center;
    margin-top:80px;
}
 .footer{
   display:flex;
   align-items:flex-end;
   position:relative;
   color:white;
   background-color: #1b1a1a;
   justify-content:center;
   height:150px;
   width:100%;
 }

 .logohp{
     position:absolute;
     bottom:70px;
     height:70px;
     width:70px;
 }
 
 .footertext{
 margin-bottom:20px;
 font-size:11px;
 }

   #socialmedia {
     display:flex; 
     width:150px;
     position:absolute;
     right:5px;
     bottom:70px;
     /*grid-template-columns: repeat(12, 1fr);*/
   }
 
   svg{
     display:inline-flex;
     justify-content:end;
     padding:10px;
     
   }
}

@media screen and (min-width:1024px) {

 .footercontainer{
     display:flex;
     justify-content:center;
     text-align:center;
     margin-top:80px;
 }
  .footer{
    display:flex;
    align-items:flex-end;
    position:relative;
    color:white;
    background-color: #1b1a1a;
    justify-content:center;
    height:170px;
    width:100%;
  }

  .logohp{
      position:absolute;
      bottom:70px;
      height:80px;
      width:80px;
  }
  
  .footertext{
  margin-bottom:20px;
  font-size:15px;
  }

    #socialmedia {
      display:flex; 
      width:200px;
      position:absolute;
      padding:5px;
      right:10px;
      bottom:40px;
      /*grid-template-columns: repeat(12, 1fr);*/
    }
  
    svg{
      display:inline-flex;
      justify-content:end;
      padding:20px;
      
    }
  
  }

  